[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking

User=root
Group=root

Environment="JAVA_HOME=/usr/lib/jvm/jre"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

Environment="CATALINA_BASE={{CATALINA_BASE}}"
Environment="CATALINA_HOME={{CATALINA_BASE}}"
Environment="CATALINA_PID={{CATALINA_BASE}}/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart={{CATALINA_BASE}}/bin/startup.sh
ExecStop={{CATALINA_BASE}}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target